<header class="bg-white fixed z-50 top-0 left-0 w-full shadow-md transition duration-500">
    <nav class="flex items-center max-w-screen-xl mx-auto px-6 py-3">
        <LinkTo @route="home" class="flex flex-grow">
            <h1 class="text-3xl font-bold">
                <span class="text-red-500">I</span>talian <span class="text-red-500">R</span>estaurant
            </h1>
        </LinkTo>
        <div class="flex items-center justify-end space-x-6 font-semibold">
            <LinkTo @route="login" class="transform transition duration-500 hover:scale-105">Login</LinkTo>
            <LinkTo @route="register"
                class="bg-red-500 px-6 py-3 text-white rounded-full transform transition duration-500 hover:scale-105">
                Register</LinkTo>
        </div>
    </nav>
</header>